body {
  margin: 0;
  padding: 0;
}

.app-container {
  /*padding: 10px 0;*/
}

.app-container h1,
.app-container h2,
.app-container h3,
.app-container h4,
.app-container h5,
.app-container h6
{
  margin-top: 0;
}

.breadcrumb li {
  color: #333 !important;
  font-weight: 500;
}
